ExcelDesign/Web References/ServiceFunctions/Functions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/Functions" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/Functions" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x50003" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x50003" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="User">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="UserID" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ZendeskEmail" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CreateRMA" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CreateRetLabel" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CreatePDARma" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CreatePDAExchange" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Admin" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Developer" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SessionID" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Password" type="string" />
          <element minOccurs="1" maxOccurs="1" default="0" name="SessionTimeout" type="int" />
          <element minOccurs="1" maxOccurs="1" name="PasswordExpiryDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="PasswordLastUpdated" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CreateExchange" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CreatePartRequest" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CreatePDAPartRequest" type="string" />
          <element minOccurs="1" maxOccurs="1" name="IssueRefund" type="string" />
          <element minOccurs="1" maxOccurs="1" name="IssuePDARefund" type="string" />
          <element minOccurs="1" maxOccurs="1" name="PartialRefundTier" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CancelOrder" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CancelPDAOrder" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CanPartialRefund" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CanPartialRefundPDA" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Supervisor" type="string" />
        </sequence>
      </complexType>
      <complexType name="UserSetup" mixed="true">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="User" type="tns:User" />
        </sequence>
      </complexType>
      <element name="UserSetup" type="tns:UserSetup" />
    </schema>
    <schema xmlns:tns="&lt;urn:microsoft-dynamics-nav/xmlports/searchresults&gt;" elementFormDefault="qualified" targetNamespace="&lt;urn:microsoft-dynamics-nav/xmlports/searchresults&gt;" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="Warranty2" mixed="true">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="IsPDAWarranty2" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="WarrantyType2" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Status2" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Policy2" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="DaysRemaining2" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="RefundAllowed2" type="string" />
        </sequence>
      </complexType>
      <complexType name="SalesHeader">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocType" type="string" />
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtDocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DocDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="OrderDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReturnTrackingNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SellToCustomerName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SellToCustomerNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCountry" type="string" />
          <element minOccurs="1" maxOccurs="1" name="UPSRetLabelCreated" type="string" />
          <element minOccurs="1" maxOccurs="1" name="RMANo" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="ExchangeOrderNos" type="string" />
          <element minOccurs="1" maxOccurs="1" name="IMEI" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Warranty2" type="tns:Warranty2" />
        </sequence>
      </complexType>
      <complexType name="SalesLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocType" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="QtyToReceive" type="string" />
          <element minOccurs="1" maxOccurs="1" name="QtyShipped" type="string" />
          <element minOccurs="1" maxOccurs="1" name="UnitPrice" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DateCreated" type="string" />
          <element minOccurs="1" maxOccurs="1" name="REQReturnAction" type="string" />
          <element minOccurs="1" maxOccurs="1" name="QtyExchanged" type="string" />
          <element minOccurs="1" maxOccurs="1" name="QtyRefunded" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReturnReason" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CrossRefNo" type="string" />
        </sequence>
      </complexType>
      <complexType name="Warranty3" mixed="true">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="IsPDAWarranty3" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="WarrantyType3" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Status3" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Policy3" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="DaysRemaining3" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="RefundAllowed3" type="string" />
        </sequence>
      </complexType>
      <complexType name="SalesShipmentHeader">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtDocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="OrderDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="OrderNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SellToCustomerNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SellToCustomerName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCountry" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingAgentCode" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingAgentService" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Warranty3" type="tns:Warranty3" />
        </sequence>
      </complexType>
      <complexType name="SalesShipmentLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="UnitPrice" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CrossRefNo" type="string" />
        </sequence>
      </complexType>
      <complexType name="PostedPackage">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="PackNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtTrackNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingAgent" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingService" type="string" />
          <element minOccurs="1" maxOccurs="1" name="PostingDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="PostedSourceID" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SourceID" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCountry" type="string" />
        </sequence>
      </complexType>
      <complexType name="PostedPackageLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="PackNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Price" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SerialNo" type="string" />
        </sequence>
      </complexType>
      <complexType name="SalesInvoiceHeader">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtDocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="PostingDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCountry" type="string" />
        </sequence>
      </complexType>
      <complexType name="SalesInvoiceLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="UnitPrice" type="string" />
        </sequence>
      </complexType>
      <complexType name="ReturnReceiptHeader">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtDocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReceiveDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="OrderDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReturnOrderNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingAgent" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SellToCustomerNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SellToCustomerName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCountry" type="string" />
        </sequence>
      </complexType>
      <complexType name="ReturnReceiptLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="UnitPrice" type="string" />
          <element minOccurs="1" maxOccurs="1" name="REQReturnAction" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReturnReasonCode" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CrossRefNo" type="string" />
        </sequence>
      </complexType>
      <complexType name="PostedReceive">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtDocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtTrackNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingAgent" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingService" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReceiveDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="PostedSourceID" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SourceID" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipFromName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipFromAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipFromAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipFromContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipFromCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipFromZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipFromState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipFromCountry" type="string" />
        </sequence>
      </complexType>
      <complexType name="PostedReceiveLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="RecNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SerialNo" type="string" />
        </sequence>
      </complexType>
      <complexType name="SalesCreditMemo">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReturnOrderNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtDocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="PostingDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCountry" type="string" />
        </sequence>
      </complexType>
      <complexType name="SalesCreditMemoLines">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="UnitPrice" type="string" />
          <element minOccurs="1" maxOccurs="1" name="QtyExchanged" type="string" />
          <element minOccurs="1" maxOccurs="1" name="QtyRefunded" type="string" />
          <element minOccurs="1" maxOccurs="1" name="REQReturnAction" type="string" />
        </sequence>
      </complexType>
      <complexType name="Warranty" mixed="true">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="IsPDAWarranty" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="WarrantyType" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Status" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Policy" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="DaysRemaining" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="RefundAllowed" type="string" />
        </sequence>
      </complexType>
      <complexType name="SOImportBuffer">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="ExternalDocumentNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="OrderType" type="string" />
          <element minOccurs="1" maxOccurs="1" name="OrderStatus" type="string" />
          <element minOccurs="1" maxOccurs="1" name="OrderDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SalesOrderNo" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="ChannelName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CustomerNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Price" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCountry" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Warranty" type="tns:Warranty" />
          <element minOccurs="1" maxOccurs="1" name="EbayUserID" type="string" />
        </sequence>
      </complexType>
      <complexType name="ExtendedSalesHeader">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="RMANo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SSHNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Email" type="string" />
          <element minOccurs="1" maxOccurs="1" name="IsExchangeOrder" type="string" />
          <element minOccurs="1" maxOccurs="1" name="IsPartRequest" type="string" />
          <element minOccurs="1" maxOccurs="1" name="PartRequestOrderNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="IsRefund" type="string" />
          <element minOccurs="1" maxOccurs="1" name="RefundStatus" type="string" />
        </sequence>
      </complexType>
      <complexType name="ReturnsBuffer">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="Status" type="string" />
          <element minOccurs="1" maxOccurs="1" name="OrderNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtDocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReturnReason" type="string" />
          <element minOccurs="1" maxOccurs="1" name="RefundQty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="RefundAmt" type="string" />
          <element minOccurs="1" maxOccurs="1" name="TaxAmount" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingTax" type="string" />
        </sequence>
      </complexType>
      <complexType name="ReturnReasonCode">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="ReasonCode" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Category" type="string" />
        </sequence>
      </complexType>
      <complexType name="DefectOptions" mixed="true">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="Blank" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="NoLongerWanted" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="PWrongNetwork" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="NotAsExpected" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="ShippingBoxChrushed" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="PhoneBoxChrushed" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="PackageWet" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="UnresponsiveLCD" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="DoesNotCharge" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="BadKeypad" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="BadMicEarpieceSpeaker" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="NoPower" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="NoWIfi" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="NoSignal" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="ResetsItself" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="BadCamera" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="CallsDropped" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="DoesNotReadSIM" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="DoesNotReadSD" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="PhoneIsLocked" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="WrongBandsListed" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="WrongColorModel" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="CantSetupMMS" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="NotInEnglish" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="USedCustomerInfo" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="UsedCallTimer" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="UsedAccessories" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="UsedScratehcesDentsDings" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="BoxNotSealed" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="Software" type="string" />
        </sequence>
      </complexType>
      <complexType name="SalesCommentLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Comment" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Date" type="string" />
        </sequence>
      </complexType>
      <complexType name="CustSvcLog">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="OrderNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="RMANo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SalesQuoteNo" type="string" />
          <element minOccurs="1" maxOccurs="1" default="0" name="ZendeskTicketNo" type="int" />
          <element minOccurs="1" maxOccurs="1" name="Subject" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CreatedDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="UpdateDate" type="string" />
        </sequence>
      </complexType>
      <complexType name="SearchResults" mixed="true">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="SalesHeader" type="tns:SalesHeader" />
          <element minOccurs="0" maxOccurs="unbounded" name="SalesLine" type="tns:SalesLine" />
          <element minOccurs="0" maxOccurs="unbounded" name="SalesShipmentHeader" type="tns:SalesShipmentHeader" />
          <element minOccurs="0" maxOccurs="unbounded" name="SalesShipmentLine" type="tns:SalesShipmentLine" />
          <element minOccurs="0" maxOccurs="unbounded" name="PostedPackage" type="tns:PostedPackage" />
          <element minOccurs="0" maxOccurs="unbounded" name="PostedPackageLine" type="tns:PostedPackageLine" />
          <element minOccurs="0" maxOccurs="unbounded" name="SalesInvoiceHeader" type="tns:SalesInvoiceHeader" />
          <element minOccurs="0" maxOccurs="unbounded" name="SalesInvoiceLine" type="tns:SalesInvoiceLine" />
          <element minOccurs="0" maxOccurs="unbounded" name="ReturnReceiptHeader" type="tns:ReturnReceiptHeader" />
          <element minOccurs="0" maxOccurs="unbounded" name="ReturnReceiptLine" type="tns:ReturnReceiptLine" />
          <element minOccurs="0" maxOccurs="unbounded" name="PostedReceive" type="tns:PostedReceive" />
          <element minOccurs="0" maxOccurs="unbounded" name="PostedReceiveLine" type="tns:PostedReceiveLine" />
          <element minOccurs="0" maxOccurs="unbounded" name="SalesCreditMemo" type="tns:SalesCreditMemo" />
          <element minOccurs="0" maxOccurs="unbounded" name="SalesCreditMemoLines" type="tns:SalesCreditMemoLines" />
          <element minOccurs="0" maxOccurs="unbounded" name="SOImportBuffer" type="tns:SOImportBuffer" />
          <element minOccurs="0" maxOccurs="unbounded" name="ExtendedSalesHeader" type="tns:ExtendedSalesHeader" />
          <element minOccurs="1" maxOccurs="unbounded" name="ReturnsBuffer" type="tns:ReturnsBuffer" />
          <element minOccurs="1" maxOccurs="unbounded" name="ReturnReasonCode" type="tns:ReturnReasonCode" />
          <element minOccurs="1" maxOccurs="unbounded" name="DefectOptions" type="tns:DefectOptions" />
          <element minOccurs="1" maxOccurs="unbounded" name="SalesCommentLine" type="tns:SalesCommentLine" />
          <element minOccurs="1" maxOccurs="unbounded" name="PartReqOption" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="CustSvcLog" type="tns:CustSvcLog" />
        </sequence>
      </complexType>
      <element name="SearchResults" type="tns:SearchResults" />
    </schema>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x50014" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x50014" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="Warranty2" mixed="true">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="Status2" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Policy2" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="DaysRemaining2" type="string" />
        </sequence>
      </complexType>
      <complexType name="SalesHeader">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocType" type="string" />
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtDocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DocDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="RMANo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReturnTrackingNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SellToCustomerName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCountry" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingAgent" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingService" type="string" />
          <element minOccurs="1" maxOccurs="1" name="RMANo" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Warranty2" type="tns:Warranty2" />
        </sequence>
      </complexType>
      <complexType name="SalesLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="QtyToReceive" type="string" />
          <element minOccurs="1" maxOccurs="1" name="QtyShipped" type="string" />
          <element minOccurs="1" maxOccurs="1" name="UnitPrice" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DateCreated" type="string" />
        </sequence>
      </complexType>
      <complexType name="CreatedExchangeOrder" mixed="true">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="SalesHeader" type="tns:SalesHeader" />
          <element minOccurs="0" maxOccurs="unbounded" name="SalesLine" type="tns:SalesLine" />
        </sequence>
      </complexType>
      <element name="CreatedExchangeOrder" type="tns:CreatedExchangeOrder" />
    </schema>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x50015" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x50015" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="Warranty4" mixed="true">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="Status4" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Policy4" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="DaysRemaining4" type="string" />
        </sequence>
      </complexType>
      <complexType name="SalesHeader">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocType" type="string" />
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtDocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DocDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="RMANo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReturnTrackingNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SellToCustomerName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCountry" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingAgent" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingService" type="string" />
          <element minOccurs="1" maxOccurs="1" name="RMANo" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Warranty4" type="tns:Warranty4" />
        </sequence>
      </complexType>
      <complexType name="SalesLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="QtyToReceive" type="string" />
          <element minOccurs="1" maxOccurs="1" name="QtyShipped" type="string" />
          <element minOccurs="1" maxOccurs="1" name="UnitPrice" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DateCreated" type="string" />
        </sequence>
      </complexType>
      <complexType name="ExtendedSalesHeader">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="QuoteNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SSHNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="IsPartRequest" type="string" />
          <element minOccurs="1" maxOccurs="1" name="PartRequestOrderNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Email" type="string" />
        </sequence>
      </complexType>
      <complexType name="CreatedPartialRequest" mixed="true">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="SalesHeader" type="tns:SalesHeader" />
          <element minOccurs="0" maxOccurs="unbounded" name="SalesLine" type="tns:SalesLine" />
          <element minOccurs="1" maxOccurs="unbounded" name="ExtendedSalesHeader" type="tns:ExtendedSalesHeader" />
        </sequence>
      </complexType>
      <element name="CreatedPartialRequest" type="tns:CreatedPartialRequest" />
    </schema>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x50002" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x50002" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="Warranty2" mixed="true">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="Status2" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Policy2" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="DaysRemaining2" type="string" />
        </sequence>
      </complexType>
      <complexType name="SalesHeader">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocType" type="string" />
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtDocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DocDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReturnTrackingNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SellToCustomerName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCountry" type="string" />
          <element minOccurs="1" maxOccurs="1" name="IMEI" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Warranty2" type="tns:Warranty2" />
        </sequence>
      </complexType>
      <complexType name="SalesLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="QtyToReceive" type="string" />
          <element minOccurs="1" maxOccurs="1" name="QtyShipped" type="string" />
          <element minOccurs="1" maxOccurs="1" name="UnitPrice" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DateCreated" type="string" />
          <element minOccurs="1" maxOccurs="1" name="REQReturnAction" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReturnReasonCode" type="string" />
        </sequence>
      </complexType>
      <complexType name="ReturnOrder" mixed="true">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="SalesHeader" type="tns:SalesHeader" />
          <element minOccurs="0" maxOccurs="unbounded" name="SalesLine" type="tns:SalesLine" />
        </sequence>
      </complexType>
      <element name="ReturnOrder" type="tns:ReturnOrder" />
    </schema>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x50016" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x50016" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="SalesLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocType" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="UnitCost" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReqReturnAction" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CustomerNo" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="ExternalDocumentNo" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="IsNotInvtAvailable" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="IsOlderThan24Hrs" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="IsOlderThan48Hrs" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="IsOlderThan72Hrs" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="IsPendingSQApproval" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="NoItemSubFound" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="CreatedDate" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="CustAllowRefund" type="string" />
        </sequence>
      </complexType>
      <complexType name="ReturnsBuffer">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="OrderDocType" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Status" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtDocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CustomerNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="RMANo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExchangeOrderNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DateCreated" type="string" />
          <element minOccurs="1" maxOccurs="1" name="TaxAmount" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingTax" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExchangedQty" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="IsOlderThan24Hrs2" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="IsOlderThan48Hrs2" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="IsOlderThan72Hrs2" type="string" />
        </sequence>
      </complexType>
      <complexType name="Statistics" mixed="true">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="SalesLine" type="tns:SalesLine" />
          <element minOccurs="1" maxOccurs="unbounded" name="ReturnsBuffer" type="tns:ReturnsBuffer" />
        </sequence>
      </complexType>
      <element name="Statistics" type="tns:Statistics" />
    </schema>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x50018" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x50018" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="Item">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="UnitPrice" type="string" />
        </sequence>
      </complexType>
      <complexType name="SuggestSimilarItem" mixed="true">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="Item" type="tns:Item" />
        </sequence>
      </complexType>
      <element name="SuggestSimilarItem" type="tns:SuggestSimilarItem" />
    </schema>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x50017" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x50017" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="Object">
        <sequence>
          <element minOccurs="1" maxOccurs="1" default="0" name="ID" type="int" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Name" type="string" />
          <element minOccurs="1" maxOccurs="1" name="VersionList" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Date" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Time" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Compiled" type="string" />
        </sequence>
      </complexType>
      <complexType name="AboutObjects" mixed="true">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="Object" type="tns:Object" />
        </sequence>
      </complexType>
      <element name="AboutObjects" type="tns:AboutObjects" />
    </schema>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/Functions" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="ResetSession">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="userID" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ResetSession_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="LogIn">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="userID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="password" type="string" />
            <element xmlns:q1="urn:microsoft-dynamics-nav/xmlports/x50003" minOccurs="1" maxOccurs="1" name="webSvcUserSetup" type="q1:UserSetup" />
          </sequence>
        </complexType>
      </element>
      <element name="LogIn_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
            <element xmlns:q2="urn:microsoft-dynamics-nav/xmlports/x50003" minOccurs="1" maxOccurs="1" name="webSvcUserSetup" type="q2:UserSetup" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateUserPassword">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="userID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="newPassword" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateUserPassword_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="SearchDetermineNoType">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="searchNo" type="string" />
            <element xmlns:q3="&lt;urn:microsoft-dynamics-nav/xmlports/searchresults&gt;" minOccurs="1" maxOccurs="1" name="searchResults" type="q3:SearchResults" />
            <element minOccurs="1" maxOccurs="1" name="_SearchOption" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="SearchDetermineNoType_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
            <element xmlns:q4="&lt;urn:microsoft-dynamics-nav/xmlports/searchresults&gt;" minOccurs="1" maxOccurs="1" name="searchResults" type="q4:SearchResults" />
          </sequence>
        </complexType>
      </element>
      <element name="FilterEbayUserIDSOImportBuffer">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="ebayUserID" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FilterEbayUserIDSOImportBuffer_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ExecuteExtraSearch">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="ExecuteExtraSearch_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="CreateExchangeOrder">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="orderNo" type="string" />
            <element xmlns:q5="urn:microsoft-dynamics-nav/xmlports/x50014" minOccurs="1" maxOccurs="1" name="exchangeOrder" type="q5:CreatedExchangeOrder" />
            <element minOccurs="1" maxOccurs="1" name="externalDocumentNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lineDetails" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zendeskTicketNo" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateExchangeOrder_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
            <element xmlns:q6="urn:microsoft-dynamics-nav/xmlports/x50014" minOccurs="1" maxOccurs="1" name="exchangeOrder" type="q6:CreatedExchangeOrder" />
          </sequence>
        </complexType>
      </element>
      <element name="CreatePartRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="orderNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="externalDocumentNo" type="string" />
            <element xmlns:q7="urn:microsoft-dynamics-nav/xmlports/x50015" minOccurs="1" maxOccurs="1" name="createdPartReq" type="q7:CreatedPartialRequest" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lineDetails" type="string" />
            <element minOccurs="1" maxOccurs="1" name="notes" type="string" />
            <element minOccurs="1" maxOccurs="1" name="shipToDetails" type="string" />
            <element minOccurs="1" maxOccurs="1" name="emailAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zendeskTicketNo" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="CreatePartRequest_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
            <element xmlns:q8="urn:microsoft-dynamics-nav/xmlports/x50015" minOccurs="1" maxOccurs="1" name="createdPartReq" type="q8:CreatedPartialRequest" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateRefund">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="rMANo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zendeskTicketNo" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateRefund_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateRefundOrder">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="rMANo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateRefundOrder_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateReturnOrder">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="orderNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="extDocNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="returnReasonCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="notes" type="string" />
            <element minOccurs="1" maxOccurs="1" name="includeResourceLines" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="printRmaInstructions" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="createUPSReturnLabel" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="emailAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lineDetails" type="string" />
            <element xmlns:q9="urn:microsoft-dynamics-nav/xmlports/x50002" minOccurs="1" maxOccurs="1" name="createdReturn" type="q9:ReturnOrder" />
            <element minOccurs="1" maxOccurs="1" name="updateRMA" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="returnTrackNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="shipToDetails" type="string" />
            <element minOccurs="1" maxOccurs="1" name="iMEI" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zendeskTicketNo" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateReturnOrder_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
            <element xmlns:q10="urn:microsoft-dynamics-nav/xmlports/x50002" minOccurs="1" maxOccurs="1" name="createdReturn" type="q10:ReturnOrder" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteReturnOrder">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="rmaNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteReturnOrder_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="PartialRefund">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="orderNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="externalDocumentNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lineValues" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zendeskTicketNo" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="PartialRefund_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CancelOrder">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="orderNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="externalDocumentNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lineValues" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zendeskTicketNo" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="CancelOrder_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="LegacyIssueReturnLabel">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="rMANo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="emailAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="LegacyIssueReturnLabel_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetStatistics">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
            <element xmlns:q11="urn:microsoft-dynamics-nav/xmlports/x50016" minOccurs="1" maxOccurs="1" name="statistics" type="q11:Statistics" />
          </sequence>
        </complexType>
      </element>
      <element name="GetStatistics_Result">
        <complexType>
          <sequence>
            <element xmlns:q12="urn:microsoft-dynamics-nav/xmlports/x50016" minOccurs="1" maxOccurs="1" name="statistics" type="q12:Statistics" />
          </sequence>
        </complexType>
      </element>
      <element name="ProcessReplacements">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="rMAList" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ProcessReplacements_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="ProcessRefunds">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="rMAList" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ProcessRefunds_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="UpdateREQReturnAction">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="toModLineValues" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateREQReturnAction_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="ViewSimilarItem">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="itemNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="_SearchType" type="int" />
            <element xmlns:q13="urn:microsoft-dynamics-nav/xmlports/x50018" minOccurs="1" maxOccurs="1" name="custSvcSimilarItem" type="q13:SuggestSimilarItem" />
          </sequence>
        </complexType>
      </element>
      <element name="ViewSimilarItem_Result">
        <complexType>
          <sequence>
            <element xmlns:q14="urn:microsoft-dynamics-nav/xmlports/x50018" minOccurs="1" maxOccurs="1" name="custSvcSimilarItem" type="q14:SuggestSimilarItem" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateRMAItemNo">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lineValues" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateRMAItemNo_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="UpdateZendeskTicket">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="currentTicketNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="updateTicketNo" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateZendeskTicket_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="DeleteZendeskTicket">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="currentTicketNo" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteZendeskTicket_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="SetDebug">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="debug" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="SetDebug_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="PullAboutDetails">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
            <element xmlns:q15="urn:microsoft-dynamics-nav/xmlports/x50017" minOccurs="1" maxOccurs="1" name="aboutObjects" type="q15:AboutObjects" />
          </sequence>
        </complexType>
      </element>
      <element name="PullAboutDetails_Result">
        <complexType>
          <sequence>
            <element xmlns:q16="urn:microsoft-dynamics-nav/xmlports/x50017" minOccurs="1" maxOccurs="1" name="aboutObjects" type="q16:AboutObjects" />
          </sequence>
        </complexType>
      </element>
      <element name="Test">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="Test_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="a47a47a45a62_Monitoring_User_Actions">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="a47a47a45a62_Monitoring_User_Actions_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="a47a47a45a62_Comments">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="a47a47a45a62_Comments_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="IssueReturnLabel">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="rMANo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="getLinkForZendesk" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="downloadManually" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="emailTo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="fromEmail" type="string" />
            <element minOccurs="1" maxOccurs="1" name="pDFBase64String" type="string" />
            <element minOccurs="1" maxOccurs="1" name="amazonS3BucketURL" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="IssueReturnLabel_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="pDFBase64String" type="string" />
            <element minOccurs="1" maxOccurs="1" name="amazonS3BucketURL" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="ResetSession">
    <part name="parameters" element="tns:ResetSession" />
  </message>
  <message name="ResetSession_Result">
    <part name="parameters" element="tns:ResetSession_Result" />
  </message>
  <message name="LogIn">
    <part name="parameters" element="tns:LogIn" />
  </message>
  <message name="LogIn_Result">
    <part name="parameters" element="tns:LogIn_Result" />
  </message>
  <message name="UpdateUserPassword">
    <part name="parameters" element="tns:UpdateUserPassword" />
  </message>
  <message name="UpdateUserPassword_Result">
    <part name="parameters" element="tns:UpdateUserPassword_Result" />
  </message>
  <message name="SearchDetermineNoType">
    <part name="parameters" element="tns:SearchDetermineNoType" />
  </message>
  <message name="SearchDetermineNoType_Result">
    <part name="parameters" element="tns:SearchDetermineNoType_Result" />
  </message>
  <message name="FilterEbayUserIDSOImportBuffer">
    <part name="parameters" element="tns:FilterEbayUserIDSOImportBuffer" />
  </message>
  <message name="FilterEbayUserIDSOImportBuffer_Result">
    <part name="parameters" element="tns:FilterEbayUserIDSOImportBuffer_Result" />
  </message>
  <message name="ExecuteExtraSearch">
    <part name="parameters" element="tns:ExecuteExtraSearch" />
  </message>
  <message name="ExecuteExtraSearch_Result">
    <part name="parameters" element="tns:ExecuteExtraSearch_Result" />
  </message>
  <message name="CreateExchangeOrder">
    <part name="parameters" element="tns:CreateExchangeOrder" />
  </message>
  <message name="CreateExchangeOrder_Result">
    <part name="parameters" element="tns:CreateExchangeOrder_Result" />
  </message>
  <message name="CreatePartRequest">
    <part name="parameters" element="tns:CreatePartRequest" />
  </message>
  <message name="CreatePartRequest_Result">
    <part name="parameters" element="tns:CreatePartRequest_Result" />
  </message>
  <message name="CreateRefund">
    <part name="parameters" element="tns:CreateRefund" />
  </message>
  <message name="CreateRefund_Result">
    <part name="parameters" element="tns:CreateRefund_Result" />
  </message>
  <message name="CreateRefundOrder">
    <part name="parameters" element="tns:CreateRefundOrder" />
  </message>
  <message name="CreateRefundOrder_Result">
    <part name="parameters" element="tns:CreateRefundOrder_Result" />
  </message>
  <message name="CreateReturnOrder">
    <part name="parameters" element="tns:CreateReturnOrder" />
  </message>
  <message name="CreateReturnOrder_Result">
    <part name="parameters" element="tns:CreateReturnOrder_Result" />
  </message>
  <message name="DeleteReturnOrder">
    <part name="parameters" element="tns:DeleteReturnOrder" />
  </message>
  <message name="DeleteReturnOrder_Result">
    <part name="parameters" element="tns:DeleteReturnOrder_Result" />
  </message>
  <message name="PartialRefund">
    <part name="parameters" element="tns:PartialRefund" />
  </message>
  <message name="PartialRefund_Result">
    <part name="parameters" element="tns:PartialRefund_Result" />
  </message>
  <message name="CancelOrder">
    <part name="parameters" element="tns:CancelOrder" />
  </message>
  <message name="CancelOrder_Result">
    <part name="parameters" element="tns:CancelOrder_Result" />
  </message>
  <message name="LegacyIssueReturnLabel">
    <part name="parameters" element="tns:LegacyIssueReturnLabel" />
  </message>
  <message name="LegacyIssueReturnLabel_Result">
    <part name="parameters" element="tns:LegacyIssueReturnLabel_Result" />
  </message>
  <message name="GetStatistics">
    <part name="parameters" element="tns:GetStatistics" />
  </message>
  <message name="GetStatistics_Result">
    <part name="parameters" element="tns:GetStatistics_Result" />
  </message>
  <message name="ProcessReplacements">
    <part name="parameters" element="tns:ProcessReplacements" />
  </message>
  <message name="ProcessReplacements_Result">
    <part name="parameters" element="tns:ProcessReplacements_Result" />
  </message>
  <message name="ProcessRefunds">
    <part name="parameters" element="tns:ProcessRefunds" />
  </message>
  <message name="ProcessRefunds_Result">
    <part name="parameters" element="tns:ProcessRefunds_Result" />
  </message>
  <message name="UpdateREQReturnAction">
    <part name="parameters" element="tns:UpdateREQReturnAction" />
  </message>
  <message name="UpdateREQReturnAction_Result">
    <part name="parameters" element="tns:UpdateREQReturnAction_Result" />
  </message>
  <message name="ViewSimilarItem">
    <part name="parameters" element="tns:ViewSimilarItem" />
  </message>
  <message name="ViewSimilarItem_Result">
    <part name="parameters" element="tns:ViewSimilarItem_Result" />
  </message>
  <message name="UpdateRMAItemNo">
    <part name="parameters" element="tns:UpdateRMAItemNo" />
  </message>
  <message name="UpdateRMAItemNo_Result">
    <part name="parameters" element="tns:UpdateRMAItemNo_Result" />
  </message>
  <message name="UpdateZendeskTicket">
    <part name="parameters" element="tns:UpdateZendeskTicket" />
  </message>
  <message name="UpdateZendeskTicket_Result">
    <part name="parameters" element="tns:UpdateZendeskTicket_Result" />
  </message>
  <message name="DeleteZendeskTicket">
    <part name="parameters" element="tns:DeleteZendeskTicket" />
  </message>
  <message name="DeleteZendeskTicket_Result">
    <part name="parameters" element="tns:DeleteZendeskTicket_Result" />
  </message>
  <message name="SetDebug">
    <part name="parameters" element="tns:SetDebug" />
  </message>
  <message name="SetDebug_Result">
    <part name="parameters" element="tns:SetDebug_Result" />
  </message>
  <message name="PullAboutDetails">
    <part name="parameters" element="tns:PullAboutDetails" />
  </message>
  <message name="PullAboutDetails_Result">
    <part name="parameters" element="tns:PullAboutDetails_Result" />
  </message>
  <message name="Test">
    <part name="parameters" element="tns:Test" />
  </message>
  <message name="Test_Result">
    <part name="parameters" element="tns:Test_Result" />
  </message>
  <message name="a47a47a45a62_Monitoring_User_Actions">
    <part name="parameters" element="tns:a47a47a45a62_Monitoring_User_Actions" />
  </message>
  <message name="a47a47a45a62_Monitoring_User_Actions_Result">
    <part name="parameters" element="tns:a47a47a45a62_Monitoring_User_Actions_Result" />
  </message>
  <message name="a47a47a45a62_Comments">
    <part name="parameters" element="tns:a47a47a45a62_Comments" />
  </message>
  <message name="a47a47a45a62_Comments_Result">
    <part name="parameters" element="tns:a47a47a45a62_Comments_Result" />
  </message>
  <message name="IssueReturnLabel">
    <part name="parameters" element="tns:IssueReturnLabel" />
  </message>
  <message name="IssueReturnLabel_Result">
    <part name="parameters" element="tns:IssueReturnLabel_Result" />
  </message>
  <portType name="Functions_Port">
    <operation name="ResetSession">
      <input name="ResetSession" message="tns:ResetSession" />
      <output name="ResetSession_Result" message="tns:ResetSession_Result" />
    </operation>
    <operation name="LogIn">
      <input name="LogIn" message="tns:LogIn" />
      <output name="LogIn_Result" message="tns:LogIn_Result" />
    </operation>
    <operation name="UpdateUserPassword">
      <input name="UpdateUserPassword" message="tns:UpdateUserPassword" />
      <output name="UpdateUserPassword_Result" message="tns:UpdateUserPassword_Result" />
    </operation>
    <operation name="SearchDetermineNoType">
      <input name="SearchDetermineNoType" message="tns:SearchDetermineNoType" />
      <output name="SearchDetermineNoType_Result" message="tns:SearchDetermineNoType_Result" />
    </operation>
    <operation name="FilterEbayUserIDSOImportBuffer">
      <input name="FilterEbayUserIDSOImportBuffer" message="tns:FilterEbayUserIDSOImportBuffer" />
      <output name="FilterEbayUserIDSOImportBuffer_Result" message="tns:FilterEbayUserIDSOImportBuffer_Result" />
    </operation>
    <operation name="ExecuteExtraSearch">
      <input name="ExecuteExtraSearch" message="tns:ExecuteExtraSearch" />
      <output name="ExecuteExtraSearch_Result" message="tns:ExecuteExtraSearch_Result" />
    </operation>
    <operation name="CreateExchangeOrder">
      <input name="CreateExchangeOrder" message="tns:CreateExchangeOrder" />
      <output name="CreateExchangeOrder_Result" message="tns:CreateExchangeOrder_Result" />
    </operation>
    <operation name="CreatePartRequest">
      <input name="CreatePartRequest" message="tns:CreatePartRequest" />
      <output name="CreatePartRequest_Result" message="tns:CreatePartRequest_Result" />
    </operation>
    <operation name="CreateRefund">
      <input name="CreateRefund" message="tns:CreateRefund" />
      <output name="CreateRefund_Result" message="tns:CreateRefund_Result" />
    </operation>
    <operation name="CreateRefundOrder">
      <input name="CreateRefundOrder" message="tns:CreateRefundOrder" />
      <output name="CreateRefundOrder_Result" message="tns:CreateRefundOrder_Result" />
    </operation>
    <operation name="CreateReturnOrder">
      <input name="CreateReturnOrder" message="tns:CreateReturnOrder" />
      <output name="CreateReturnOrder_Result" message="tns:CreateReturnOrder_Result" />
    </operation>
    <operation name="DeleteReturnOrder">
      <input name="DeleteReturnOrder" message="tns:DeleteReturnOrder" />
      <output name="DeleteReturnOrder_Result" message="tns:DeleteReturnOrder_Result" />
    </operation>
    <operation name="PartialRefund">
      <input name="PartialRefund" message="tns:PartialRefund" />
      <output name="PartialRefund_Result" message="tns:PartialRefund_Result" />
    </operation>
    <operation name="CancelOrder">
      <input name="CancelOrder" message="tns:CancelOrder" />
      <output name="CancelOrder_Result" message="tns:CancelOrder_Result" />
    </operation>
    <operation name="LegacyIssueReturnLabel">
      <input name="LegacyIssueReturnLabel" message="tns:LegacyIssueReturnLabel" />
      <output name="LegacyIssueReturnLabel_Result" message="tns:LegacyIssueReturnLabel_Result" />
    </operation>
    <operation name="GetStatistics">
      <input name="GetStatistics" message="tns:GetStatistics" />
      <output name="GetStatistics_Result" message="tns:GetStatistics_Result" />
    </operation>
    <operation name="ProcessReplacements">
      <input name="ProcessReplacements" message="tns:ProcessReplacements" />
      <output name="ProcessReplacements_Result" message="tns:ProcessReplacements_Result" />
    </operation>
    <operation name="ProcessRefunds">
      <input name="ProcessRefunds" message="tns:ProcessRefunds" />
      <output name="ProcessRefunds_Result" message="tns:ProcessRefunds_Result" />
    </operation>
    <operation name="UpdateREQReturnAction">
      <input name="UpdateREQReturnAction" message="tns:UpdateREQReturnAction" />
      <output name="UpdateREQReturnAction_Result" message="tns:UpdateREQReturnAction_Result" />
    </operation>
    <operation name="ViewSimilarItem">
      <input name="ViewSimilarItem" message="tns:ViewSimilarItem" />
      <output name="ViewSimilarItem_Result" message="tns:ViewSimilarItem_Result" />
    </operation>
    <operation name="UpdateRMAItemNo">
      <input name="UpdateRMAItemNo" message="tns:UpdateRMAItemNo" />
      <output name="UpdateRMAItemNo_Result" message="tns:UpdateRMAItemNo_Result" />
    </operation>
    <operation name="UpdateZendeskTicket">
      <input name="UpdateZendeskTicket" message="tns:UpdateZendeskTicket" />
      <output name="UpdateZendeskTicket_Result" message="tns:UpdateZendeskTicket_Result" />
    </operation>
    <operation name="DeleteZendeskTicket">
      <input name="DeleteZendeskTicket" message="tns:DeleteZendeskTicket" />
      <output name="DeleteZendeskTicket_Result" message="tns:DeleteZendeskTicket_Result" />
    </operation>
    <operation name="SetDebug">
      <input name="SetDebug" message="tns:SetDebug" />
      <output name="SetDebug_Result" message="tns:SetDebug_Result" />
    </operation>
    <operation name="PullAboutDetails">
      <input name="PullAboutDetails" message="tns:PullAboutDetails" />
      <output name="PullAboutDetails_Result" message="tns:PullAboutDetails_Result" />
    </operation>
    <operation name="Test">
      <input name="Test" message="tns:Test" />
      <output name="Test_Result" message="tns:Test_Result" />
    </operation>
    <operation name="a47a47a45a62_Monitoring_User_Actions">
      <input name="a47a47a45a62_Monitoring_User_Actions" message="tns:a47a47a45a62_Monitoring_User_Actions" />
      <output name="a47a47a45a62_Monitoring_User_Actions_Result" message="tns:a47a47a45a62_Monitoring_User_Actions_Result" />
    </operation>
    <operation name="a47a47a45a62_Comments">
      <input name="a47a47a45a62_Comments" message="tns:a47a47a45a62_Comments" />
      <output name="a47a47a45a62_Comments_Result" message="tns:a47a47a45a62_Comments_Result" />
    </operation>
    <operation name="IssueReturnLabel">
      <input name="IssueReturnLabel" message="tns:IssueReturnLabel" />
      <output name="IssueReturnLabel_Result" message="tns:IssueReturnLabel_Result" />
    </operation>
  </portType>
  <binding name="Functions_Binding" type="tns:Functions_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="ResetSession">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:ResetSession" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ResetSession">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ResetSession_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="LogIn">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:LogIn" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="LogIn">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="LogIn_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateUserPassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:UpdateUserPassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateUserPassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateUserPassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SearchDetermineNoType">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:SearchDetermineNoType" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SearchDetermineNoType">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SearchDetermineNoType_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FilterEbayUserIDSOImportBuffer">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:FilterEbayUserIDSOImportBuffer" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FilterEbayUserIDSOImportBuffer">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FilterEbayUserIDSOImportBuffer_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ExecuteExtraSearch">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:ExecuteExtraSearch" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ExecuteExtraSearch">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ExecuteExtraSearch_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateExchangeOrder">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:CreateExchangeOrder" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateExchangeOrder">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateExchangeOrder_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreatePartRequest">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:CreatePartRequest" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreatePartRequest">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreatePartRequest_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateRefund">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:CreateRefund" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateRefund">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateRefund_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateRefundOrder">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:CreateRefundOrder" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateRefundOrder">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateRefundOrder_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateReturnOrder">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:CreateReturnOrder" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateReturnOrder">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateReturnOrder_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="DeleteReturnOrder">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:DeleteReturnOrder" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="DeleteReturnOrder">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="DeleteReturnOrder_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="PartialRefund">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:PartialRefund" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="PartialRefund">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="PartialRefund_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CancelOrder">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:CancelOrder" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CancelOrder">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CancelOrder_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="LegacyIssueReturnLabel">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:LegacyIssueReturnLabel" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="LegacyIssueReturnLabel">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="LegacyIssueReturnLabel_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetStatistics">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:GetStatistics" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetStatistics">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetStatistics_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ProcessReplacements">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:ProcessReplacements" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ProcessReplacements">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ProcessReplacements_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ProcessRefunds">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:ProcessRefunds" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ProcessRefunds">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ProcessRefunds_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateREQReturnAction">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:UpdateREQReturnAction" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateREQReturnAction">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateREQReturnAction_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ViewSimilarItem">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:ViewSimilarItem" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ViewSimilarItem">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ViewSimilarItem_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateRMAItemNo">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:UpdateRMAItemNo" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateRMAItemNo">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateRMAItemNo_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateZendeskTicket">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:UpdateZendeskTicket" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateZendeskTicket">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateZendeskTicket_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="DeleteZendeskTicket">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:DeleteZendeskTicket" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="DeleteZendeskTicket">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="DeleteZendeskTicket_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SetDebug">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:SetDebug" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SetDebug">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SetDebug_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="PullAboutDetails">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:PullAboutDetails" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="PullAboutDetails">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="PullAboutDetails_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Test">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:Test" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Test">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Test_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="a47a47a45a62_Monitoring_User_Actions">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:a47a47a45a62_Monitoring_User_Actions" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="a47a47a45a62_Monitoring_User_Actions">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="a47a47a45a62_Monitoring_User_Actions_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="a47a47a45a62_Comments">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:a47a47a45a62_Comments" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="a47a47a45a62_Comments">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="a47a47a45a62_Comments_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IssueReturnLabel">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:IssueReturnLabel" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IssueReturnLabel">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IssueReturnLabel_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Functions">
    <port name="Functions_Port" binding="tns:Functions_Binding">
      <address location="http://jeg-svr2.jeg.local:7058/DynamicsNAV/WS/JEG_SONS,%20Inc/Codeunit/Functions" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>