ExcelDesign/Web References/ServiceFunctions/Functions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/Functions" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/Functions" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x50003" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x50003" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="User">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="UserID" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CreateRMA" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CreateRetLabel" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Admin" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Developer" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SessionID" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Password" type="string" />
          <element minOccurs="1" maxOccurs="1" default="0" name="SessionTimeout" type="int" />
          <element minOccurs="1" maxOccurs="1" name="PasswordExpiryDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="PasswordLastUpdated" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CreateExchange" type="string" />
        </sequence>
      </complexType>
      <complexType name="UserSetup" mixed="true">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="User" type="tns:User" />
        </sequence>
      </complexType>
      <element name="UserSetup" type="tns:UserSetup" />
    </schema>
    <schema xmlns:tns="&lt;urn:microsoft-dynamics-nav/xmlports/searchresults&gt;" elementFormDefault="qualified" targetNamespace="&lt;urn:microsoft-dynamics-nav/xmlports/searchresults&gt;" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="Warranty2" mixed="true">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="Status2" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Policy2" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="DaysRemaining2" type="string" />
        </sequence>
      </complexType>
      <complexType name="SalesHeader">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocType" type="string" />
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtDocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DocDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReturnTrackingNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SellToCustomerName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SellToCustomerNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCountry" type="string" />
          <element minOccurs="1" maxOccurs="1" name="UPSRetLabelCreated" type="string" />
          <element minOccurs="1" maxOccurs="1" name="RMANo" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="ExchangeOrderNos" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Warranty2" type="tns:Warranty2" />
        </sequence>
      </complexType>
      <complexType name="SalesLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="QtyToReceive" type="string" />
          <element minOccurs="1" maxOccurs="1" name="QtyShipped" type="string" />
          <element minOccurs="1" maxOccurs="1" name="UnitPrice" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DateCreated" type="string" />
          <element minOccurs="1" maxOccurs="1" name="REQReturnAction" type="string" />
          <element minOccurs="1" maxOccurs="1" name="QtyExchanged" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReturnReason" type="string" />
        </sequence>
      </complexType>
      <complexType name="Warranty3" mixed="true">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="Status3" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Policy3" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="DaysRemaining3" type="string" />
        </sequence>
      </complexType>
      <complexType name="SalesShipmentHeader">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtDocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="OrderDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="OrderNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SellToCustomerNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SellToCustomerName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCountry" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingAgentCode" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingAgentService" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Warranty3" type="tns:Warranty3" />
        </sequence>
      </complexType>
      <complexType name="SalesShipmentLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="UnitPrice" type="string" />
        </sequence>
      </complexType>
      <complexType name="PostedPackage">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="PackNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtTrackNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingAgent" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingService" type="string" />
          <element minOccurs="1" maxOccurs="1" name="PostingDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="PostedSourceID" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SourceID" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCountry" type="string" />
        </sequence>
      </complexType>
      <complexType name="PostedPackageLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="PackNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Price" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SerialNo" type="string" />
        </sequence>
      </complexType>
      <complexType name="SalesInvoiceHeader">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtDocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="PostingDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCountry" type="string" />
        </sequence>
      </complexType>
      <complexType name="SalesInvoiceLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="UnitPrice" type="string" />
        </sequence>
      </complexType>
      <complexType name="ReturnReceiptHeader">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtDocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReceiveDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="OrderDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReturnOrderNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingAgent" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SellToCustomerNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SellToCustomerName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCountry" type="string" />
        </sequence>
      </complexType>
      <complexType name="ReturnReceiptLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="UnitPrice" type="string" />
        </sequence>
      </complexType>
      <complexType name="PostedReceive">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtDocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtTrackNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingAgent" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingService" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReceiveDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="PostedSourceID" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SourceID" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipFromName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipFromAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipFromAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipFromContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipFromCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipFromZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipFromState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipFromCountry" type="string" />
        </sequence>
      </complexType>
      <complexType name="PostedReceiveLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="RecNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SerialNo" type="string" />
        </sequence>
      </complexType>
      <complexType name="SalesCreditMemo">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtDocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="PostingDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCountry" type="string" />
        </sequence>
      </complexType>
      <complexType name="SalesCreditMemoLines">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="UnitPrice" type="string" />
        </sequence>
      </complexType>
      <complexType name="Warranty" mixed="true">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="Status" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Policy" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="DaysRemaining" type="string" />
        </sequence>
      </complexType>
      <complexType name="SOImportBuffer">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="ExternalDocumentNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="OrderType" type="string" />
          <element minOccurs="1" maxOccurs="1" name="OrderStatus" type="string" />
          <element minOccurs="1" maxOccurs="1" name="OrderDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SalesOrderNo" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="ChannelName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="CustomerNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Price" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCountry" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Warranty" type="tns:Warranty" />
        </sequence>
      </complexType>
      <complexType name="ExtendedSalesHeader">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="RMANo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SSHNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Email" type="string" />
          <element minOccurs="1" maxOccurs="1" name="IsExchangeOrder" type="string" />
        </sequence>
      </complexType>
      <complexType name="ReturnReasonCode">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="ReasonCode" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Category" type="string" />
        </sequence>
      </complexType>
      <complexType name="DefectOptions" mixed="true">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="Blank" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="NoLongerWanted" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="PWrongNetwork" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="NotAsExpected" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="ShippingBoxChrushed" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="PhoneBoxChrushed" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="PackageWet" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="UnresponsiveLCD" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="DoesNotCharge" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="BadKeypad" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="BadMicEarpieceSpeaker" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="NoPower" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="NoWIfi" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="NoSignal" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="ResetsItself" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="BadCamera" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="CallsDropped" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="DoesNotReadSIM" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="DoesNotReadSD" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="PhoneIsLocked" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="WrongBandsListed" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="WrongColorModel" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="CantSetupMMS" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="NotInEnglish" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="USedCustomerInfo" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="UsedCallTimer" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="UsedAccessories" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="UsedScratehcesDentsDings" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="BoxNotSealed" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="Software" type="string" />
        </sequence>
      </complexType>
      <complexType name="SearchResults" mixed="true">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="SalesHeader" type="tns:SalesHeader" />
          <element minOccurs="0" maxOccurs="unbounded" name="SalesLine" type="tns:SalesLine" />
          <element minOccurs="0" maxOccurs="unbounded" name="SalesShipmentHeader" type="tns:SalesShipmentHeader" />
          <element minOccurs="0" maxOccurs="unbounded" name="SalesShipmentLine" type="tns:SalesShipmentLine" />
          <element minOccurs="0" maxOccurs="unbounded" name="PostedPackage" type="tns:PostedPackage" />
          <element minOccurs="0" maxOccurs="unbounded" name="PostedPackageLine" type="tns:PostedPackageLine" />
          <element minOccurs="0" maxOccurs="unbounded" name="SalesInvoiceHeader" type="tns:SalesInvoiceHeader" />
          <element minOccurs="0" maxOccurs="unbounded" name="SalesInvoiceLine" type="tns:SalesInvoiceLine" />
          <element minOccurs="0" maxOccurs="unbounded" name="ReturnReceiptHeader" type="tns:ReturnReceiptHeader" />
          <element minOccurs="0" maxOccurs="unbounded" name="ReturnReceiptLine" type="tns:ReturnReceiptLine" />
          <element minOccurs="0" maxOccurs="unbounded" name="PostedReceive" type="tns:PostedReceive" />
          <element minOccurs="0" maxOccurs="unbounded" name="PostedReceiveLine" type="tns:PostedReceiveLine" />
          <element minOccurs="0" maxOccurs="unbounded" name="SalesCreditMemo" type="tns:SalesCreditMemo" />
          <element minOccurs="0" maxOccurs="unbounded" name="SalesCreditMemoLines" type="tns:SalesCreditMemoLines" />
          <element minOccurs="0" maxOccurs="unbounded" name="SOImportBuffer" type="tns:SOImportBuffer" />
          <element minOccurs="0" maxOccurs="unbounded" name="ExtendedSalesHeader" type="tns:ExtendedSalesHeader" />
          <element minOccurs="1" maxOccurs="unbounded" name="ReturnReasonCode" type="tns:ReturnReasonCode" />
          <element minOccurs="1" maxOccurs="unbounded" name="DefectOptions" type="tns:DefectOptions" />
        </sequence>
      </complexType>
      <element name="SearchResults" type="tns:SearchResults" />
    </schema>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x50005" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x50005" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="Warranty2" mixed="true">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="Status2" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Policy2" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="DaysRemaining2" type="string" />
        </sequence>
      </complexType>
      <complexType name="SalesHeader">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocType" type="string" />
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtDocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DocDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="RMANo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReturnTrackingNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SellToCustomerName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCountry" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingAgent" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShippingService" type="string" />
          <element minOccurs="1" maxOccurs="1" name="RMANo" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Warranty2" type="tns:Warranty2" />
        </sequence>
      </complexType>
      <complexType name="SalesLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="QtyToReceive" type="string" />
          <element minOccurs="1" maxOccurs="1" name="QtyShipped" type="string" />
          <element minOccurs="1" maxOccurs="1" name="UnitPrice" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DateCreated" type="string" />
        </sequence>
      </complexType>
      <complexType name="CreatedExchangeOrder" mixed="true">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="SalesHeader" type="tns:SalesHeader" />
          <element minOccurs="0" maxOccurs="unbounded" name="SalesLine" type="tns:SalesLine" />
        </sequence>
      </complexType>
      <element name="CreatedExchangeOrder" type="tns:CreatedExchangeOrder" />
    </schema>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x50002" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x50002" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="Warranty2" mixed="true">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="Status2" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Policy2" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="DaysRemaining2" type="string" />
        </sequence>
      </complexType>
      <complexType name="SalesHeader">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocType" type="string" />
          <element minOccurs="1" maxOccurs="1" name="No" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExtDocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DocDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReturnTrackingNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="SellToCustomerName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToAddress2" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToContact" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToZip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToState" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ShipToCountry" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="Warranty2" type="tns:Warranty2" />
        </sequence>
      </complexType>
      <complexType name="SalesLine">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DocNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Type" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ItemNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Qty" type="string" />
          <element minOccurs="1" maxOccurs="1" name="QtyToReceive" type="string" />
          <element minOccurs="1" maxOccurs="1" name="QtyShipped" type="string" />
          <element minOccurs="1" maxOccurs="1" name="UnitPrice" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DateCreated" type="string" />
          <element minOccurs="1" maxOccurs="1" name="REQReturnAction" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ReturnReasonCode" type="string" />
        </sequence>
      </complexType>
      <complexType name="ReturnOrder" mixed="true">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="SalesHeader" type="tns:SalesHeader" />
          <element minOccurs="0" maxOccurs="unbounded" name="SalesLine" type="tns:SalesLine" />
        </sequence>
      </complexType>
      <element name="ReturnOrder" type="tns:ReturnOrder" />
    </schema>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/Functions" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="IsValidSession">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="IsValidSession_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ResetSession">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="userID" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ResetSession_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="LogIn">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="userID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="password" type="string" />
            <element xmlns:q1="urn:microsoft-dynamics-nav/xmlports/x50003" minOccurs="1" maxOccurs="1" name="webSvcUserSetup" type="q1:UserSetup" />
          </sequence>
        </complexType>
      </element>
      <element name="LogIn_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
            <element xmlns:q2="urn:microsoft-dynamics-nav/xmlports/x50003" minOccurs="1" maxOccurs="1" name="webSvcUserSetup" type="q2:UserSetup" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateUserPassword">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="userID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="password" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateUserPassword_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="SearchDetermineNoType">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="searchNo" type="string" />
            <element xmlns:q3="&lt;urn:microsoft-dynamics-nav/xmlports/searchresults&gt;" minOccurs="1" maxOccurs="1" name="searchResults" type="q3:SearchResults" />
            <element minOccurs="1" maxOccurs="1" name="_SearchOption" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="SearchDetermineNoType_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
            <element xmlns:q4="&lt;urn:microsoft-dynamics-nav/xmlports/searchresults&gt;" minOccurs="1" maxOccurs="1" name="searchResults" type="q4:SearchResults" />
          </sequence>
        </complexType>
      </element>
      <element name="SetDateFilters">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="SetDateFilters_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="CreateExchangeOrder">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="orderNo" type="string" />
            <element xmlns:q5="urn:microsoft-dynamics-nav/xmlports/x50005" minOccurs="1" maxOccurs="1" name="exchangeOrder" type="q5:CreatedExchangeOrder" />
            <element minOccurs="1" maxOccurs="1" name="externalDocumentNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lineDetails" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateExchangeOrder_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
            <element xmlns:q6="urn:microsoft-dynamics-nav/xmlports/x50005" minOccurs="1" maxOccurs="1" name="exchangeOrder" type="q6:CreatedExchangeOrder" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateReturnOrder">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="orderNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="extDocNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="returnReasonCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="notes" type="string" />
            <element minOccurs="1" maxOccurs="1" name="includeResourceLines" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="printRmaInstructions" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="createUPSReturnLabel" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="emailAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lineDetails" type="string" />
            <element xmlns:q7="urn:microsoft-dynamics-nav/xmlports/x50002" minOccurs="1" maxOccurs="1" name="createdReturn" type="q7:ReturnOrder" />
            <element minOccurs="1" maxOccurs="1" name="updateRMA" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="returnTrackNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateReturnOrder_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
            <element xmlns:q8="urn:microsoft-dynamics-nav/xmlports/x50002" minOccurs="1" maxOccurs="1" name="createdReturn" type="q8:ReturnOrder" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteReturnOrder">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="rmaNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteReturnOrder_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CancelOrder">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="test" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CancelOrder_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="IssueReturnLabel">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="rMANo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="emailAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="IssueReturnLabel_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="SetDebug">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="debug" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="SetDebug_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="Test">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="Test_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="a47a47a45a62_Monitoring_User_Actions">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="a47a47a45a62_Monitoring_User_Actions_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="WriteToLogFile">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="userID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sessionID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="_UserAction" type="int" />
            <element minOccurs="1" maxOccurs="1" name="orderNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="rMANo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="createUPSLabel" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="WriteToLogFile_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <message name="IsValidSession">
    <part name="parameters" element="tns:IsValidSession" />
  </message>
  <message name="IsValidSession_Result">
    <part name="parameters" element="tns:IsValidSession_Result" />
  </message>
  <message name="ResetSession">
    <part name="parameters" element="tns:ResetSession" />
  </message>
  <message name="ResetSession_Result">
    <part name="parameters" element="tns:ResetSession_Result" />
  </message>
  <message name="LogIn">
    <part name="parameters" element="tns:LogIn" />
  </message>
  <message name="LogIn_Result">
    <part name="parameters" element="tns:LogIn_Result" />
  </message>
  <message name="UpdateUserPassword">
    <part name="parameters" element="tns:UpdateUserPassword" />
  </message>
  <message name="UpdateUserPassword_Result">
    <part name="parameters" element="tns:UpdateUserPassword_Result" />
  </message>
  <message name="SearchDetermineNoType">
    <part name="parameters" element="tns:SearchDetermineNoType" />
  </message>
  <message name="SearchDetermineNoType_Result">
    <part name="parameters" element="tns:SearchDetermineNoType_Result" />
  </message>
  <message name="SetDateFilters">
    <part name="parameters" element="tns:SetDateFilters" />
  </message>
  <message name="SetDateFilters_Result">
    <part name="parameters" element="tns:SetDateFilters_Result" />
  </message>
  <message name="CreateExchangeOrder">
    <part name="parameters" element="tns:CreateExchangeOrder" />
  </message>
  <message name="CreateExchangeOrder_Result">
    <part name="parameters" element="tns:CreateExchangeOrder_Result" />
  </message>
  <message name="CreateReturnOrder">
    <part name="parameters" element="tns:CreateReturnOrder" />
  </message>
  <message name="CreateReturnOrder_Result">
    <part name="parameters" element="tns:CreateReturnOrder_Result" />
  </message>
  <message name="DeleteReturnOrder">
    <part name="parameters" element="tns:DeleteReturnOrder" />
  </message>
  <message name="DeleteReturnOrder_Result">
    <part name="parameters" element="tns:DeleteReturnOrder_Result" />
  </message>
  <message name="CancelOrder">
    <part name="parameters" element="tns:CancelOrder" />
  </message>
  <message name="CancelOrder_Result">
    <part name="parameters" element="tns:CancelOrder_Result" />
  </message>
  <message name="IssueReturnLabel">
    <part name="parameters" element="tns:IssueReturnLabel" />
  </message>
  <message name="IssueReturnLabel_Result">
    <part name="parameters" element="tns:IssueReturnLabel_Result" />
  </message>
  <message name="SetDebug">
    <part name="parameters" element="tns:SetDebug" />
  </message>
  <message name="SetDebug_Result">
    <part name="parameters" element="tns:SetDebug_Result" />
  </message>
  <message name="Test">
    <part name="parameters" element="tns:Test" />
  </message>
  <message name="Test_Result">
    <part name="parameters" element="tns:Test_Result" />
  </message>
  <message name="a47a47a45a62_Monitoring_User_Actions">
    <part name="parameters" element="tns:a47a47a45a62_Monitoring_User_Actions" />
  </message>
  <message name="a47a47a45a62_Monitoring_User_Actions_Result">
    <part name="parameters" element="tns:a47a47a45a62_Monitoring_User_Actions_Result" />
  </message>
  <message name="WriteToLogFile">
    <part name="parameters" element="tns:WriteToLogFile" />
  </message>
  <message name="WriteToLogFile_Result">
    <part name="parameters" element="tns:WriteToLogFile_Result" />
  </message>
  <portType name="Functions_Port">
    <operation name="IsValidSession">
      <input name="IsValidSession" message="tns:IsValidSession" />
      <output name="IsValidSession_Result" message="tns:IsValidSession_Result" />
    </operation>
    <operation name="ResetSession">
      <input name="ResetSession" message="tns:ResetSession" />
      <output name="ResetSession_Result" message="tns:ResetSession_Result" />
    </operation>
    <operation name="LogIn">
      <input name="LogIn" message="tns:LogIn" />
      <output name="LogIn_Result" message="tns:LogIn_Result" />
    </operation>
    <operation name="UpdateUserPassword">
      <input name="UpdateUserPassword" message="tns:UpdateUserPassword" />
      <output name="UpdateUserPassword_Result" message="tns:UpdateUserPassword_Result" />
    </operation>
    <operation name="SearchDetermineNoType">
      <input name="SearchDetermineNoType" message="tns:SearchDetermineNoType" />
      <output name="SearchDetermineNoType_Result" message="tns:SearchDetermineNoType_Result" />
    </operation>
    <operation name="SetDateFilters">
      <input name="SetDateFilters" message="tns:SetDateFilters" />
      <output name="SetDateFilters_Result" message="tns:SetDateFilters_Result" />
    </operation>
    <operation name="CreateExchangeOrder">
      <input name="CreateExchangeOrder" message="tns:CreateExchangeOrder" />
      <output name="CreateExchangeOrder_Result" message="tns:CreateExchangeOrder_Result" />
    </operation>
    <operation name="CreateReturnOrder">
      <input name="CreateReturnOrder" message="tns:CreateReturnOrder" />
      <output name="CreateReturnOrder_Result" message="tns:CreateReturnOrder_Result" />
    </operation>
    <operation name="DeleteReturnOrder">
      <input name="DeleteReturnOrder" message="tns:DeleteReturnOrder" />
      <output name="DeleteReturnOrder_Result" message="tns:DeleteReturnOrder_Result" />
    </operation>
    <operation name="CancelOrder">
      <input name="CancelOrder" message="tns:CancelOrder" />
      <output name="CancelOrder_Result" message="tns:CancelOrder_Result" />
    </operation>
    <operation name="IssueReturnLabel">
      <input name="IssueReturnLabel" message="tns:IssueReturnLabel" />
      <output name="IssueReturnLabel_Result" message="tns:IssueReturnLabel_Result" />
    </operation>
    <operation name="SetDebug">
      <input name="SetDebug" message="tns:SetDebug" />
      <output name="SetDebug_Result" message="tns:SetDebug_Result" />
    </operation>
    <operation name="Test">
      <input name="Test" message="tns:Test" />
      <output name="Test_Result" message="tns:Test_Result" />
    </operation>
    <operation name="a47a47a45a62_Monitoring_User_Actions">
      <input name="a47a47a45a62_Monitoring_User_Actions" message="tns:a47a47a45a62_Monitoring_User_Actions" />
      <output name="a47a47a45a62_Monitoring_User_Actions_Result" message="tns:a47a47a45a62_Monitoring_User_Actions_Result" />
    </operation>
    <operation name="WriteToLogFile">
      <input name="WriteToLogFile" message="tns:WriteToLogFile" />
      <output name="WriteToLogFile_Result" message="tns:WriteToLogFile_Result" />
    </operation>
  </portType>
  <binding name="Functions_Binding" type="tns:Functions_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="IsValidSession">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:IsValidSession" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsValidSession">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsValidSession_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ResetSession">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:ResetSession" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ResetSession">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ResetSession_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="LogIn">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:LogIn" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="LogIn">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="LogIn_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateUserPassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:UpdateUserPassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateUserPassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateUserPassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SearchDetermineNoType">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:SearchDetermineNoType" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SearchDetermineNoType">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SearchDetermineNoType_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SetDateFilters">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:SetDateFilters" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SetDateFilters">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SetDateFilters_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateExchangeOrder">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:CreateExchangeOrder" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateExchangeOrder">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateExchangeOrder_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateReturnOrder">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:CreateReturnOrder" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateReturnOrder">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateReturnOrder_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="DeleteReturnOrder">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:DeleteReturnOrder" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="DeleteReturnOrder">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="DeleteReturnOrder_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CancelOrder">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:CancelOrder" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CancelOrder">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CancelOrder_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IssueReturnLabel">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:IssueReturnLabel" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IssueReturnLabel">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IssueReturnLabel_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SetDebug">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:SetDebug" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SetDebug">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SetDebug_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Test">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:Test" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Test">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Test_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="a47a47a45a62_Monitoring_User_Actions">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:a47a47a45a62_Monitoring_User_Actions" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="a47a47a45a62_Monitoring_User_Actions">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="a47a47a45a62_Monitoring_User_Actions_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="WriteToLogFile">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Functions:WriteToLogFile" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="WriteToLogFile">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="WriteToLogFile_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Functions">
    <port name="Functions_Port" binding="tns:Functions_Binding">
      <address location="http://jeg-svr2.jeg.local:7058/DynamicsNAV/WS/JEG_SONS,%20Inc/Codeunit/Functions" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>